/release/*
/.idea/*
/node_modules/*
release/
node_modules/
*.dmg
*.zip
*.db
*.prbackup
*.backup
/dist/
/release/
*.dmg
*.exe
*.AppImage
/node_modules/
/.idea/
.vscode/
.DS_Store
*.log
*.tmp
*.cache
/dev-figures/
